-# appointment evolution comments
%div{style: "display: flex; align-items: center; flex-direction: column; text-align: center"}
  - evolution.appointment_comments.each do |comment|
    - if not comment.comment == nil # this avoids the database to return a ghost register
      - if (comment.invisible and is_admin?) or not comment.invisible # this checks if the comment is not marked as hidden and shows to the admin even if it is
        - if comment.user_id == 1
          .card.card--yellow{style: "position: relative;width: 800px;max-width: 100%;height: fit-content", class: "#{ comment.invisible? ? 'no-print' : 'print' }"}
            %h1.subtitle.title--thin{style: "margin-bottom: 0"}= comment.name
            %small Evolução
            %br
            %p= comment.comment.html_safe
            %br
            %small{style: "text-transformation: italic; float: right"}= l(comment.created_at)[0...-9]
            %br

            -# - if is_admin?

              - if comment.invisible == true
                = link_to icon('fas', 'eye-slash', class: 'fancy-link fancy-link--grey', style: "position: absolute; left: 0; top: 0; cursor: pointer; margin: 15px"), appointment_evolution_path(evolution, appointment_evolution: { appointment_comments_attributes: {"0" => { id: comment.id, :invisible => "false" } } }), :method => :patch
              - else
                = link_to icon('fas', 'eye', class: 'fancy-link fancy-link--grey', style: "position: absolute; left: 0; top: 0; cursor: pointer; margin: 15px"), appointment_evolution_path(evolution, appointment_evolution: { appointment_comments_attributes: {"0" => { id: comment.id, :invisible => "true" } } }), :method => :patch

        - else
          .appointment-card{style: "border-left-color: #{comment.user.school.color}; position: relative", class: "#{ comment.invisible? ? 'no-print' : 'print' }"}
            %div
              %h3.title.title--small= comment.name
              %p= comment.comment.html_safe
              %small{style: "text-transformation: italic; float: right"}= l(comment.created_at)[0...-9]
              %br

            -# - if comment.user_id == current_user.id || is_admin?
              - if is_admin?
                - if comment.invisible == true
                  = link_to icon('fas', 'eye-slash', class: 'fancy-link fancy-link--grey', style: "position: absolute; left: 0; top: 0; cursor: pointer; margin: 15px"), appointment_evolution_path(evolution, appointment_evolution: { appointment_comments_attributes: {"0" => { id: comment.id, :invisible => "false" } } }), :method => :patch
                - else
                  = link_to icon('fas', 'eye', class: 'fancy-link fancy-link--grey', style: "position: absolute; left: 0; top: 0; cursor: pointer; margin: 15px"), appointment_evolution_path(evolution, appointment_evolution: { appointment_comments_attributes: {"0" => { id: comment.id, :invisible => "true" } } }), :method => :patch


-# appointment evolution data
%div{style: "text-align: left"}
  - if evolution.appointment_observation.observation.present?
    %strong Observações:
    %p{style: "text-align: justify; margin-bottom: 5px"}= evolution.appointment_observation.observation

  - if evolution.action_call.action_call.present?
    %strong Chamada de Ação:
    %p{style: "text-align: justify; margin-bottom: 5px"}= evolution.action_call.action_call

  - if evolution.appointment_redirecting.redirecting.present?
    %strong Direcionamento aos Educadores/Coordenação:
    %p{style: "text-align: justify; margin-bottom: 5px"}= evolution.appointment_redirecting.redirecting

  - if evolution.appointment_referral.referral.present?
    %strong Encaminhamento à Serviços:
    %p{style: "text-align: justify; margin-bottom: 5px"}= evolution.appointment_referral.referral
