.no-print
  = image_tag("logo.png", class: "logo-default");
  .relatory-header
    .relatory-header__inner
      .no-print
        %h3 Considerações/Parecer do relatório:

        .formatable
        %button.button.button--green.fancy-link.fancy-link--white.no-print{onclick: "window.print();"}= icon('fas', 'print', 'Imprimir')

- if not @occurrencies.empty?
  %table{style: "width: 100%"}
    %thead
      %tr
        %td
          .header-space  
    %tbody
      %tr
        %td
          .card.card--with-border{style: "text-align: left; margin-bottom: 30px"}
            %h1.title.title--thin Relatório de Atendimentos
            %div{style: "display: flex; align-items: center"}
              %strong{style: "min-width: 135px"} Preenchido por:
              %input.fancy-form__input{type: "text", style: "margin: 0 0 0 15px"}

            %div{style: "display: flex; align-items: center"}
              %strong Data:
              %input.fancy-form__input{type: "text", style: "margin: 0 0 0 15px"}

            %div{style: "display: flex; align-items: center"}
              %strong Local:
              %input.fancy-form__input{type: "text", style: "margin: 0 0 0 15px"}

            #content

          %hr

          .content
            - @occurrencies.each do |occurrency|
              = ("<strong>Instituição: </strong>").html_safe + School.find_by_id(occurrency.school_id).name
              %br
              = ("<strong>Data do registro: </strong>").html_safe + occurrency.created_at.strftime("%d/%m/%Y as %H:%M").to_s
              %br
              %br
              = ("<strong>Descrição: </strong>").html_safe + occurrency.description

              %h3 Estudantes envolvidos:

              - occurrency.occurrency_histories.each do |history|
                .card.card--with-border{style: "page-break-inside: avoid"}
                  %h3{style: "margin: 0"}= Student.find_by_id(history.student_id).name
                  = Student.find_by_id(history.student_id).classy + ' - ' + Student.find_by_id(history.student_id).groupy
                  %br
                  = Student.find_by_id(history.student_id).name + " registrou os seguintes sentimentos:"
                  %br
                  - history.emotions.each do |emotion|
                    %i= Feeling.find_by_id(emotion).description
                    %br

                  = "Estes sentimentos estão ligados à " + show_emotions(history.emotions)
              %br
              %hr
              %br
    %tfoot
      %tr
        %td
          .footer-space  
  .header{style: "background-image: url(#{asset_url('print-header')})"}
  .footer{style: "background-image: url(#{asset_url('print-footer')})"}

- else
  %br
  %br
  = image_tag('brain.png', class: "logo-default logo-default--small")
  %h1.title.title--grey Não há nada disso por aqui...

:javascript
  tinymce.init({
     selector: '.formatable',
     plugins: 'lists media tinydrive',
     toolbar: 'addcomment showcomments code insertfile',
     toolbar_drawer: 'floating',
     tinycomments_mode: 'embedded',
     tinycomments_author: 'Lillyan',
     mode: 'specific_textareas',
     init_instance_callback: function (editor) {
       editor.on('KeyUp', function (e) {
         // Get the HTML contents of the currently active editor
         console.debug(tinyMCE.activeEditor.getContent());
         //method2 getting the content by id of a particular textarea
         var content = tinyMCE.activeEditor.getContent();
         $('#content').empty();
         $('#content').append(content);
       });
     }
  });

  function setVisible(element, op) {
    if (op === "visible") {
      $(element).removeClass('no-print');

      $(element).find('.show')[0].style.display = 'none';
      $(element).find('.hide')[0].style.display = 'unset';
    } else {
      $(element).addClass('no-print');

      $(element).find('.show')[0].style.display = 'unset';
      $(element).find('.hide')[0].style.display = 'none';
    }
  }
