.section.section--golden.devise{style: "background-image: url("+ asset_path('kid.png')+");background-size: cover;background-repeat: no-repeat;"}
  .section__content.devise__content{style: "color: white; text-align: left"}
    = image_tag('logo-white.png', class: "logo-default", style: "height: auto")
    %br
    %br
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: { input_html: {class: "fancy-form__input", style: "background-color: transparent; border-color: white;"} }, html: {style: "width: 100%;max-width: 500px"}) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, label: "E-mail"
        = f.input :password, required: false, input_html: { autocomplete: "current-password" }, label: "Senha"
        = f.input :remember_me, as: :boolean, label: "Mantenha-me conectado", input_html: { style: "width: auto" } if devise_mapping.rememberable?
      .form-actions.advanced-inline
        = f.submit "Entrar", class: "button button--green fancy-link--white"

      %br

      .advanced-inline
        = render "readers/shared/links"
