.animated.fadeIn
  .section
    .section__content
      .inline
        %h1.title.title--large= @student.name

      .inline
        %h3.subtitle.title--thin= @student.school.name.capitalize
        %h3.subtitle.title--thin{style: "margin-left: 30px"}= "Série/Turma: " + @student.classy + ' ' + @student.groupy

      = link_to 'Editar', edit_student_path(@student), class: "fancy-link fancy-link--blue2"

      %br
      %br

      - if @student.student_documents.any?
        %h2 Documentos e Arquivos

        .slider{style: "width: 100%; overflow: hidden"}
          .slider__content{style: "overflow-x:scroll; display: -webkit-inline-box; width: -webkit-fill-available;"}
            - @student.student_documents.each do |sd|
              .card.card--with-border{style: "width: 250px; text-align: left; position: relative"}
                %div{id: "sd_#{sd.id}_s"}
                  %strong= sd.name
                  %br
                  %br
                  %a.fancy-link.fancy-link--blue{href: "#{sd.file}", target: "_blank"}= icon('fas', 'eye', "Visualizar arquivo")

                %div{id: "sd_#{sd.id}_d", style: "display: none"}
                  = simple_form_for(@student, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form", id: "delete_attribute_#{sd.id}" }) do |f|
                    = f.simple_fields_for :student_documents, sd do |g|
                      = g.check_box '_destroy', checked: 'checked'

                %a.fancy-link.fancy-link--blue2{style: "position: absolute; right: 0; top: 0; cursor: pointer; margin: 10px", onclick: "if (confirm('Tem certeza que quer excluir esse comentário?')) { $('#delete_attribute_#{sd.id}').submit()};"}= icon('fas', 'trash', class: "fancy-link fancy-link--red")
        %br

      - if @student.appointment_students.any?
        %h2 Histórico de Atendimentos

        .slider{style: "width: 100%; overflow: hidden"}
          .slider__content{style: "overflow-x:scroll; display: -webkit-inline-box; width: -webkit-fill-available;"}
            - @student.appointment_students.each do |as|
              = link_to appointment_path(as.appointment), style: "color: unset; display: block; text-decoration: none;" do
                .card.card--with-border{style: "width: 250px; position: relative; padding-bottom: 30px"}
                  %strong= "ATENDIMENTO " + show_appointment_kind(as.appointment.kind)
                  %br
                  %br
                  %div{style: "text-align: left"}
                    = as.appointment.reason.first(100) + "..."
                    %br
                    %br
                  %div{style: "right: 10px; bottom: 10px; position: absolute"}
                    %em= l(as.appointment.appointment_date) + " às " + as.appointment.appointment_time

        %br

      - if @student.occurrency_students.any?
        %h2 Histórico de Ocorrências

        .slider{style: "width: 100%; overflow: hidden"}
          .slider__content{style: "overflow-x:scroll; display: -webkit-inline-box; width: -webkit-fill-available;"}
            - @student.occurrency_students.each do |os|
              = link_to occurrency_path(os.occurrency), style: "color: unset; display: block; text-decoration: none;" do
                .card.card--with-border{style: "width: 250px; position: relative; padding-bottom: 30px"}
                  %strong OCORRÊNCIA
                  %br
                  %br
                  %div{style: "text-align: left"}
                    = os.occurrency.description.first(100) + "..."
                    %br
                    %br
                  %div{style: "right: 10px; bottom: 10px; position: absolute"}
                    %em= os.occurrency.created_at.strftime("%d/%m/%Y - %H:%m")

        %br


      %div{style: "text-align: left"}
        %h3 Adicionar documento

        %br
        %br

        = simple_form_for @student, :url => add_document_path, :method => :post, defaults: { input_html: { class: "fancy-form__input" } } do |student|
          = student.simple_fields_for :student_documents, @student.student_documents.new do |f|
            = f.input :name, label: "Nome do documento"
            = f.input :file, label: "Arquivo (apenas arquivos em pdf, png, jpg ou jpeg)"
            %br
            = f.submit "Enviar", class: "button button--green fancy-link--white"
