.animated.fadeIn
  .section
    .section__content
      .inline
        %h1.title.title--large= @student.name.capitalize

      .inline
        %h3.subtitle.title--thin= @student.school.name.capitalize
        %h3.subtitle.title--thin{style: "margin-left: 30px"}= "Série/Turma: " + @student.classy + ' ' + @student.groupy

      = link_to 'Editar', edit_student_path(@student), class: "fancy-link fancy-link--blue2"

      %br
      %br

      %h2.title.title--thin Documentos e arquivos

      - if @student.student_documents.any?
        - @student.student_documents.each_slice(4) do |sds|
          .columns{style: "justify-content: center; align-items: center"}
            - sds.each do |sd|
              .column.column--3
                %div.card.card--with-border{style: "text-align: left; max-width: 200px; position: relative"}
                  %div{id: "sd_#{sd.id}_s"}
                    %strong= sd.name
                    %br
                    %br
                    %a.fancy-link.fancy-link--blue{href: "#{sd.file}", target: "_blank"}= icon('fas', 'eye', "Visualizar arquivo")

                  %div{id: "sd_#{sd.id}_e", style: "display: none"}
                    = simple_form_for @student, defaults: { input_html: { class: "fancy-form__input" } } do |student|
                      = student.simple_fields_for :student_documents, sd do |f|
                        = f.input :name, label: "Nome do documento"
                        = f.input :file, label: "Arquivo"
                        %br
                        = f.submit "Enviar", class: "button button--green fancy-link--white"
                  %div{id: "sd_#{sd.id}_d", style: "display: none"}
                    = simple_form_for(@student, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form", id: "delete_attribute_#{sd.id}" }) do |f|
                      = f.simple_fields_for :student_documents, sd do |g|
                        = g.check_box '_destroy', checked: 'checked'

                  %a.fancy-link.fancy-link--blue2{style: "position: absolute; right: 0; top: 0; cursor: pointer; margin: 10px 30px", onclick: "$('#sd_#{sd.id}_s').toggle();$('#sd_#{sd.id}_e').toggle()"}= icon('fas', 'pen', class: "fancy-link fancy-link--blue2")
                  %a.fancy-link.fancy-link--blue2{style: "position: absolute; right: 0; top: 0; cursor: pointer; margin: 10px", onclick: "if (confirm('Tem certeza que quer excluir esse comentário?')) { $('#delete_attribute_#{sd.id}').submit()};"}= icon('fas', 'trash', class: "fancy-link fancy-link--red")

        %br
        %br

      - else
        = image_tag('brain.png', class: "logo-default logo-default--small")
        %h1.title.title--grey Não há nenhum documento por enquanto...

      %div{style: "text-align: left"}
        %strong Adicionar documento

        %br
        %br

        = simple_form_for @student, :url => add_document_path, :method => :post, defaults: { input_html: { class: "fancy-form__input" } } do |student|
          = student.simple_fields_for :student_documents, @student.student_documents.new do |f|
            = f.input :name, label: "Nome do documento"
            = f.input :file, label: "Arquivo (apenas arquivos em pdf, png, jpg ou jpeg)"
            %br
            = f.submit "Enviar", class: "button button--green fancy-link--white"
