%h1 Listing readers

%table
  %thead
    %tr
      %th Name
      %th Classy
      %th Groupy
      %th Birthday
      %th School
      %th
      %th
      %th

  %tbody
    - @readers.each do |reader|
      %tr
        %td= reader.name
        %td= reader.classy
        %td= reader.groupy
        %td= reader.birthday
        %td= reader.school
        %td= link_to 'Show', reader
        %td= link_to 'Edit', edit_reader_path(reader)
        %td= link_to 'Destroy', reader, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Reader', new_reader_path
