.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin.title--large Frases do Menu

      %div
        %table.table
          %thead
            %tr
              %th Frase
              %th Autor
              %th
              %th

          %tbody
            - @phrases.each do |phrase|
              %tr
                %td= phrase.content
                %td= phrase.author
                %td= link_to icon('fas', 'pen', 'Editar', class: "fancy-link fancy-link--green"), edit_phrase_path(phrase), class: "fancy-link fancy-link--green"
                %td= link_to icon('fas', 'trash', 'Excluir', class: "fancy-link fancy-link--red"), phrase, method: :delete, data: { confirm: 'Are you sure?' }, class: "fancy-link fancy-link--red"

        %br

        = link_to '+ Adicionar teste', new_phrase_path, class: "fancy-link--blue2"
