.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin.title--large Frases do Menu

      - if not @phrases.empty?
        %table.table
          %thead
            %tr
              %th Frase
              %th Autor
              %th
              %th

          %tbody
            - @phrases.each do |phrase|
              %tr
                %td= phrase.content
                %td= phrase.author
                %td= link_to icon('fas', 'pen', 'Editar', class: "fancy-link fancy-link--green"), edit_phrase_path(phrase), class: "fancy-link fancy-link--green"
                %td= link_to icon('fas', 'trash', 'Excluir', class: "fancy-link fancy-link--red"), phrase, method: :delete, data: { confirm: 'Tem certeza?' }, class: "fancy-link fancy-link--red"

      - else
        = image_tag('brain.png', class: "logo-default logo-default--small")
        %h1.title.title--grey Não há nada disso por aqui...

      %br

        = link_to '+ Adicionar', new_phrase_path, class: "fancy-link--blue2"
