-# frozen_string_literal: true
= simple_form_for(@user, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
  %strong= f.error_notification
  %p= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  %br

  - if params[:school]
    = f.input :school_id, label: "Escola", as: :select, collection: School.all.drop(1), selected: params[:school], input_html: { class: "fancy-form__input fancy-form__select" }
  - else
    = f.input :school_id, label: "Escola", as: :select, collection: School.all.drop(1), input_html: { class: "fancy-form__input fancy-form__select" }

  = f.input :role, as: :hidden, input_html: { value: "coordenator" }
  = f.input :email
  = f.input :password, label: "Senha"
  = f.input :password_confirmation, label: "Confirme a senha"

  = f.submit "Salvar", class: "button button--green"
