.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin.title--large Usuários

      %br

      .table
        %table.table
          %thead
            %tr
              %th{style: "width: 20px"}
              %th Escola
              %th Permissão
              %th
              %th

          %tbody
            - @users.each do |user|
              %tr
                %td
                  %div{style: "background-color: #{user.school.color}; width: 20px; height: 20px;"}
                %td= user.school.name
                %td= user.role
                %td= link_to icon('fas', 'pen', 'Editar', class: "fancy-link fancy-link--green"), edit_user_path(user), class: "fancy-link fancy-link--green" if not user == User.first
                %td= link_to icon('fas', 'trash', 'Excluir', class: "fancy-link fancy-link--red"), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "fancy-link fancy-link--red" if not user == User.first

      %br

      = link_to '+ Adicionar Usuário', new_user_path, class: "fancy-link fancy-link--blue2"
