.animated.fadeIn
  .section
    .section__content
      .inline
        %div{style: "background-color: #{@user.school.color}; width: 30px; height: 30px; margin-right: 20px;"}
        %h1= @user.school.name

      %p= @user.role

      = link_to 'Editar', edit_user_path(@user), class: "fancy-link"
      \|
      = link_to 'Voltar', users_path, class: "fancy-link"
