-# frozen_string_literal: true
= simple_form_for(@book, defaults: { input_html: { class: "fancy-form__input" } }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :url, input_html: {style: "margin-bottom: 0"}, label: "URL do Livro"
    %small Não insira espaços em branco e/ou barra "/"
    %br
    %br
    = f.input :name, label: "Nome do Livro"
    = f.input :file, label: "Arquivo"
    = f.input :school_id, as: :select, collection: School.where.not(id: 1), input_html: { class: "fancy-form__input fancy-form__select" }

  %h3 Material complementar

  #complements
    = f.simple_fields_for :complements do |complement|
      = render 'complement_fields', f: complement
    .links
      = link_to_add_association 'Adicionar', f, :complements, class: "button button--blue2 fancy-link fancy-link--white"

  %br

  .form-actions
    = f.submit "Salvar", class: "button button--green fancy-link--white", onclick: "$('#loader').toggle();$(this).attr('disabled', disabled)"

#loader{style: "display: none"}
  %br
  %strong Carregando, isto pode levar até alguns minutos... Por favor não feche seu navegador
