.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin.title--large Livros

      %br

      .table
        %table.table
          %thead
            %tr
              %th Link
              %th Nome
              %th
              %th
              %th

          %tbody
            - @books.each do |book|
              %tr
                %td= book.url
                %td= book.name
                %td{style: "text-align: center"}= link_to icon('fas', 'eye', 'Ver', class: "fancy-link fancy-link--blue2"), book, class: "fancy-link fancy-link--blue2"
                %td{style: "text-align: center"}= link_to icon('fas', 'pen ', 'Editar', class: "fancy-link fancy-link--green"), edit_book_path(book), class: "fancy-link fancy-link--green"
                %td{style: "text-align: center"}= link_to icon('fas', 'trash', 'Excluir', class: "fancy-link fancy-link--red"), book, method: :delete, data: { confirm: 'Are you sure?' }, class: "fancy-link fancy-link--red"                

        %br

        = link_to '+ Adicionar Livro', new_book_path, class: "fancy-link fancy-link--blue2"
