.section.section--grey
  .section__content
    %h1.title.title--thin.title--white.title--large= @book.name.capitalize

- @pages.times do |i|
  - if i == 0
    .slide.slide--grey.slide--active{id: "#{i}", style: "padding: 2% 0; text-align: center; height: auto"}
      .protection
        .protection__layer
        .content
          = image_tag(@book.name + '-' + i.to_s + '.png', style: "width: 96%; max-width: 700px")

      %div{style: "padding: 0 2%; display: flex; justify-content: center; position: relative"}
        .button.button--blue2.next-slide{href: "#", "data-target" => "#{i+1}", "data-turbolinks" => "false", style: "position: absolute; z-index: 9999"} PRÓXIMO

  - else
    .slide.slide--grey{id: "#{i}", style: "padding: 5% 0; text-align: center; height: auto"}
      .protection
        .protection__layer
        .content
          = image_tag(@book.name + '-' + i.to_s + '.png', style: "width: 96%; max-width: 700px")

      %div{style: "padding: 0 2%; display: flex; flex-direction: colum; justify-content: center; position: relative"}
        %div{style: "position: absolute; z-index: 9999; margin-top: 2%"}
          .button.button--black.fancy-link--white.next-slide{href: "#", "data-target" => "#{i-1}", "data-turbolinks" => "false", style: "display: inline"} ANTERIOR
          - if not i == @pages
            .button.button--blue2.next-slide{href: "#", "data-target" => "#{i+1}", "data-turbolinks" => "false", style: "display: inline"} PRÓXIMO

- if @book.complements.any?
  .section.section--yellow
    .section__content
      %h1.title.title--thin.title--large Material Complementar
      %br
      %div{style: "text-align: left"}
        - @book.complements.each do |c|
          %h2= link_to icon('fas', 'download', "#{c.name.capitalize}", class: "fancy-link fancy-link--black"), c.file.to_s, class: "fancy-link fancy-link--black", target: "_blank"

- content_for :javascript do
  :javascript
    $('.next-slide').click(function(){
      let element = $('#' + $(this).attr('data-target'));

      $('.slide--active').removeClass('animated fadeIn slide--active');
      element.addClass('animated fadeIn slide--active');
    })
