.section.section--grey
  .section__content
    %h1.title.title--thin.title--white.title--large= @book.name.capitalize

    / Thumbnails
    .thumbnails#flipbook
      - @pages.times do |i|
        - if i == 0 || i == 1 || i == @pages - 1 || i == @pages
          %div.hard
            = image_tag(@book.name + '-' + i.to_s + '.jpg', :height => "100%", :width => "100%")
        - else
          %div
            = image_tag(@book.name + '-' + i.to_s + '.jpg', :height => "100%", :width => "100%")

  .percent-bar.percent-bar--grey
    .percent-bar--inner.percent-bar--inner--green#percent

.section.section--golden{style: "color: white"}
  .section__content

    .columns
      .column.column--5
        %h1.title.title--thin.title--large Material Complementar

        %br

        %div{style: "text-align: left"}
          - @book.complements.each do |c|
            %h3.subtitle.title--thin= link_to icon('fas', 'download', "#{c.name.capitalize}", class: "fancy-link fancy-link--white"), c.file.to_s, class: "fancy-link fancy-link--white", target: "_blank"

      .column.column--5
        %h1.title.title--thin.title--large Suas Anotações

        %br

        = simple_form_for current_reader, :url => edit_book_comment_url(current_reader.id), defaults: { input_html: { class: "fancy-form__input", style: "background-color: transparent; border-color: white; color: white" } }, remote: true do |f|
          = f.simple_fields_for :book_comments, current_reader.book_comments.new do |g|
            = g.input :book_id, as: :hidden, input_html: { value: @book.id }
            .columns{style: "text-align: left"}
              .column.column--7
                = g.input :comment, label: "Adicionar anotação", required: false
                = g.input :book_id, as: :hidden, input_html: { value: @book.id }
              .column.column--3{style: "text-align: center"}
                = g.submit "Salvar anotação", class: "button button--green fancy-link--white submit", disabled: "disabled", id: "submit"

        %br
        %br

        #comments.animated.fadeIn
          = render "books/book_comments", book: @book, current_reader: current_reader

- content_for :javascript do
  :javascript
    $('#reader_book_comments_attributes_0_comment').on('change keyup paste', function() {
      if($(this).val().length == 0) {
        $('#submit').attr("disabled", disabled);
      } else {
        $('#submit').attr("disabled", false);
      }
    });

    $('.submit').on('click', function() {
      $("#comments").removeClass("fadeIn");
    });

    edit_comment = function(comment_id) {
      $('#show_comment_' + comment_id).toggle();
      $('#edit_comment_' + comment_id).toggle();
    };

    function updateBookPercentage(number) {
      var current_page = (parseInt(number) + 1) * 100;
      var total_pages = "#{@pages}";
      var percent = String(current_page / total_pages) + "%";

      window.setTimeout( function() {document.getElementById('percent').style.width = percent}, 100 );
    }

    $(document).ready(function() {
      updateBookPercentage(0);
    })

= render "turn-script"
