.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin.title--large= @book.name.capitalize

      %br

      .columns
        .column--5
          %iframe{:frameborder => "0", :height => "500", :scrolling => "no", :src => "#{@book.file}#toolbar=0&navpanes=0&scrollbar=1", :style => "border: 0", :width => "100%"}
        .column--5
          %h2 Material complementar

          %div{style: "text-align: left; padding: 0 20px"}
            - @book.complements.each do |complement|
              = complement.name.capitalize
              %a{href: "#{complement.file}", target: "_blank"} ver
              %br

      %hr

      %br

      = link_to "Gerar cartões de acesso", {:controller => "guests", :action => "index", :book_id => @book.id}, :method => :get, class: "button button--blue2 fancy-link fancy-link--white"
