%p#notice= notice

%p
  %b Url:
  = @book.url
%p
  %b Name:
  = @book.name

%hr

%div
  %object{:data => "#{@book.file}", :height => "200", :type => "application/pdf", :width => "300"}
    alt :
    %a{:href => "#{@book.file}"} test.pdf

%hr

- @book.complements.each do |complement|
  = complement.name
  %a{href: "#{complement.file}", target: "_blank"} ver
  %br

%hr

= simple_form_for(@book) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  #complements
    = f.simple_fields_for :complements do |complement|
      = render 'complement_fields', f: complement
    .links
      = link_to_add_association 'add complement', f, :complements

  = f.submit "Salvar"

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
