.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin= @book.name.capitalize!

      %br

      .columns
        .column--5
          %div
            %object{:data => "#{@book.file}", :height => "700px", :type => "application/pdf", :width => "100%"}
              alt :
              %a{:href => "#{@book.file}"} test.pdf
        .column--5
          %h2 Material complementar

          %div{style: "text-align: left; padding: 0 20px"}
            - @book.complements.each do |complement|
              = complement.name.capitalize!
              %a{href: "#{complement.file}", target: "_blank"} ver
              %br

      %hr

      %h2.title.title--small Adicionar Material Complementar

      = simple_form_for(@book, defaults: { input_html: { class: "fancy-form__input" } }) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

        #complements
          = f.simple_fields_for :complements do |complement|
            = render 'complement_fields', f: complement
          .links
            = link_to_add_association 'Adicionar', f, :complements, class: "button button--blue2 fancy-link fancy-link--white"

        %br

        = f.submit "Salvar", class: "button button--green fancy-link--white"
