- if is_admin?
  %br

  - if @appointment.closing.present?
    %button.button.button--green.fancy-link--white{onclick: "$('.form-2').toggle()", "data-turbolinks" => "false"} Editar Fechamento do caso
    .form-2{style: "display: none"}
      %br
      %br
      = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
        = f.input :closing, label: "Preencha o Parecer final do atendimento"
        = f.submit "Enviar", class: "button button--blue2 fancy-link--white"
  - else
    %button.button.button--green.fancy-link--white{onclick: "$('.form-2').toggle()", "data-turbolinks" => "false"} Fazer Fechamento do caso
    .form-2{style: "display: none"}
      %br
      %br
      = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
        = f.input :closing, label: "Preencha o Parecer final do atendimento"
        = f.submit "Enviar", class: "button button--blue2 fancy-link--white"

.action

- if @appointment.closing.present?
  %div{style: "text-align: left"}

    %strong Parecer final do fechamento do caso:
    %p{style: "text-align: justify"}=@appointment.closing

  %h2.title.title--thin Comentários e evoluções do caso

  %br

- else
  %h2.title.title--thin Comentários e evoluções do caso

  %br

  %div{style: "text-align: left"}

    - if is_admin?
      %strong Registrar evolução
    - else
      %strong Fazer um comentário

    %br
    %br

    = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
      = f.simple_fields_for :appointment_comments, @appointment.appointment_comments.new do |g|
        = g.input :name, label: "Nome completo"
        = g.input :comment, label: "Comentário", input_html: { class: "formatable fancy-form__input" }
        = g.input :user_id, as: :hidden, input_html: { value: current_user.id }

        = g.submit "Enviar", class: "button button--green fancy-link--white"

  %br
  %br

%div{style: "display: flex; align-items: center; flex-direction: column"}
  - @appointment.appointment_comments.each do |appointment_comment|
    = render 'appointments/comments', comment: appointment_comment
