- if not appointments.empty?
  .table
    %table.table
      %thead
        %tr
          %th{style: "width: 20px"}
          %th Estudante
          %th Motivo
          %th Data
          %th
          %th
          %th
      %tbody
        - appointments.each do |appointment|
          %tr
            %td
              %div{style: "background-color: #{appointment.school.color}; width: 20px; height: 20px;"}
            %td= appointment.student.name
            %td= appointment.reason
            %td= l(appointment.appointment_date)
            %td{style: "text-align: center"}= link_to icon('fas', 'eye', 'Ver', class: "fancy-link fancy-link--blue2"), appointment, class: "fancy-link fancy-link--blue2"
            %td{style: "text-align: center"}= link_to icon('fas', 'pen', 'Editar', class: "fancy-link fancy-link--green"), edit_appointment_path(appointment), class: "fancy-link fancy-link--green"
            %td{style: "text-align: center"}= link_to icon('fas', 'trash', 'Excluir', class: "fancy-link fancy-link--red"), appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "fancy-link fancy-link--red"

- else
  %br
  %br
  = image_tag('brain.png', class: "logo-default logo-default--small")
  %h1.title.title--grey Não há nada disso por aqui...

  %br
  = will_paginate appointments
