- if not appointments.empty?
  .table{style: "margin-top: 25px"}
    %table.table
      %thead
        %tr
          %th{style: "width: 20px"}
          %th TIPO
          %th ESTUDANTES
          %th MOTIVO
          %th DATA
          %th STATUS
          %th
          %th
          %th
      %tbody
        - appointments.each do |appointment|
          - if appointment.school_id == current_user.school_id || is_admin?
            %tr
              %td
                %div{style: "background-color: #{appointment.school.color}; width: 20px; height: 20px;"}
              %td{style: "font-size: 13px"}= show_appointment_kind(appointment.kind)
              %td{style: "text-align: justify"}= show_students(appointment.appointment_students).html_safe
              %td= appointment.reason.first(100) + "..."
              %td= l(appointment.appointment_date)
              %td
                - if (appointment.appointment_evolutions.count > 1 || appointment.appointment_evolutions.first.appointment_comments.any?) && !appointment.closing.present?
                  .status.status--blue2
                    Em processo
                - elsif appointment.closing.present?
                  .status.status--green
                    Encerrado
                - else
                  .status.status--dark-yellow
                    Aberto
              %td{style: "text-align: center"}= link_to icon('fas', 'eye', 'Ver', class: "fancy-link fancy-link--blue2"), appointment, class: "fancy-link fancy-link--blue2"
              %td{style: "text-align: center"}= link_to icon('fas', 'pen', 'Editar', class: "fancy-link fancy-link--green"), edit_appointment_path(appointment), class: "fancy-link fancy-link--green"
              %td{style: "text-align: center"}= link_to icon('fas', 'trash', 'Excluir', class: "fancy-link fancy-link--red"), appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "fancy-link fancy-link--red"

- else
  %br
  %br
  = image_tag('brain.png', class: "logo-default logo-default--small")
  %h1.title.title--grey Não há nada disso por aqui...

%br
= will_paginate appointments
