.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin.title--large Atendimentos

      = form_for_filterrific @filterrific, html: { class: "fancy-form fancy-form--inline" } do |f|
        %div
          BUSCAR POR PALAVRA CHAVE
          = f.text_field(                                |
              :search_query,                             |
              class: 'filterrific-periodically-observed fancy-form__input', |
              placeholder: 'Buscar palavras chave...' |
            )                                            |

        - if is_admin?
          %div
            ESCOLA
            \#{f.select( :with_school_id, @filterrific.select_options[:with_school_id], { include_blank: 'Todas' }, class: "fancy-form__input fancy-form__select" )}

        %div
          ESTUDANTE
          \#{f.text_field( :student, class: "fancy-form__input fancy-form__select", placeholder: 'Nome do estudante' )}
        %div
          ORGANIZAR POR
          = f.select( :sorted_by, @filterrific.select_options[:sorted_by] )
        %div
          DATA
          = f.select( :date, months(), { include_blank: 'Escolha um mês' }, class: "fancy-form__input fancy-form__select"  )

        %div
          = link_to(                 |
              'Resetar',       |
              reset_filterrific_url, |
              class: "fancy-link fancy-link--blue2" |
            )                        |

        = f.submit 'Filtrar', class: "button button--green fancy-link--white"

      = render(                           |
          partial: 'appointments/list',       |
          locals: { appointments: @appointments } |
        )                                 |

      %br
      = link_to '+ Agendar Atendimento', new_appointment_path, class: 'fancy-link fancy-link--blue2'
