.animated.fadeIn
  .section
    .section__content
      %h1.title.title--thin.title--large Atendimentos

      = form_for_filterrific @filterrific, html: { class: "fancy-form fancy-form--inline" } do |f|
        %div
          Buscar por palavra chave
          = f.text_field(                                |
              :search_query,                             |
              class: 'filterrific-periodically-observed fancy-form__input', |
              placeholder: 'Buscar palavras chave...' |
            )                                            |

        %div
          Estudante
          \#{f.text_field( :student, class: "fancy-form__input fancy-form__select" )}
        %div
          Organizar por
          = f.select( :sorted_by, @filterrific.select_options[:sorted_by] )
        %div
          Data
          = f.select( :date, months(), { include_blank: 'Escolha um mês' }, class: "fancy-form__input fancy-form__select"  )

        %div
          = link_to(                 |
              'Resetar',       |
              reset_filterrific_url, |
              class: "fancy-link fancy-link--blue2" |
            )                        |

        = f.submit 'Filtrar', class: "button button--green"

      = render(                           |
          partial: 'appointments/list',       |
          locals: { appointments: @appointments } |
        )                                 |

      %br
      = link_to '+ Agendar Atendimento', new_appointment_path, class: 'fancy-link fancy-link--blue2'

-# - content_for :javascript do
-#   :javascript
-#     function calendar() {
-#       let ap = ("#{@appointments}").replace(/&quot;/g,'"').replace('[', '').replace(']', '');
-#       let a = JSON.parse('[' + ap + ']');
-#
-#       $('#full-calendar').fullCalendar({
-#         weekends: false,
-#         locale: 'pt',
-#         events: a,
-#         color: 'black',
-#         textColor: 'yellow'
-#       });
-#     }
-#
-#     $("#change-view").click(function() {
-#       $("#full-calendar").toggle();
-#       $("#list").toggle();
-#       calendar();
-#     });
-#
-#     calendar();
