.animated.fadeIn
  .section
    .section__content
      %h1.title.title--large= "Atendimento " + show_appointment_kind(@appointment.kind)
      %h3.subtitle.title--thin= "Instituição: " + @appointment.school.name
      %h3.subtitle.title--thin= " Data do atendimento: " + l(@appointment.appointment_date) + " às " + @appointment.appointment_time

      %div{style: "text-align: left; margin-top: 50px"}
        - if @appointment.reason.present?
          %strong Motivo da solicitação:
          %p{style: "text-align: justify"}= @appointment.reason

        - if @appointment.observations.present?
          %strong Observações gerais:
          %p{style: "text-align: justify"}= @appointment.observations

        - if @appointment.action_call.present?
          %strong Chamada de Ação:
          %p{style: "text-align: justify"}= @appointment.action_call

        - if @appointment.redirecting.present?
          %strong Direcionamento aos Educadores/Coordenação:
          %p{style: "text-align: justify"}= @appointment.redirecting

        - if @appointment.spontaneous.present?
          %strong Atendimento Espontâneo?:
          %p{style: "text-align: justify"}= human_boolean(@appointment.spontaneous)

        - if @appointment.referral.present?
          %strong Encaminhamento à Serviços:
          %p{style: "text-align: justify"}= @appointment.referral

        %hr

        - if @appointment.appointment_guests.any?
          %h2 Convidados/Parentes Atendidos

          - @appointment.appointment_guests.each do |guest|
            = guest.name + ' - ' + guest.description
            %br

        - if @appointment.appointment_students.any?
          %h2 Estudantes Atendidos

          - @appointment.appointment_students.each do |student|
            = student.name + ' - ' + student.classy + ' ' + student.groupy
            %br

        %br
        %hr
        %br

      = render "comments_form"
