.animated.fadeIn
  .section
    .section__content
      %h1.title.title--large Atendimento
      .columns.columns--small{style: "justify-content: center; align-items: center"}
        .column--small.collumn--small--4{style: "text-align: right; width: 40%"}
          %div
            %h3.subtitle.title--thin= "Escola: " + @appointment.school.name.capitalize
            %h3.subtitle.title--thin= "Aluno: " + @appointment.appointment_student.name.capitalize
        .column--small.collumn--small--2{style: "margin: 0 10px"}
          %hr.vertical
        .column--small.collumn--small--4{style: "text-align: left; width: 40%"}
          %h3.subtitle.title--thin Data do atendimento:
          %h3.subtitle.title--thin= l(@appointment.appointment_date) + " às " + @appointment.appointment_time

      %br
      %br


      %div{style: "text-align: left"}
        %strong Motivo da solicitação:
        %p{style: "text-align: justify"}=@appointment.reason

        %br
        %hr
        %br

        %strong Descrição do atendimento:
        %p{style: "text-align: justify"}= @appointment.description.present? ? @appointment.description : 'Ainda não há uma descrição desse atendimento'

      - if is_admin?
        %br

        %button.button.button--blue2.fancy-link--white{onclick: "$('.form').toggle()", "data-turbolinks" => "false"} Editar descrição do atendimento
        .form{style: "display: none"}
          %br
          %br
          = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
            = f.input :description, label: "Preencha a descrição do atendimento"
            = f.submit "Enviar", class: "button button--blue2 fancy-link--white"

        %br
        %br

        %button.button.button--green.fancy-link--white{onclick: "$('.form-2').toggle()", "data-turbolinks" => "false"} Fazer Fechamento do caso
        .form-2{style: "display: none"}
          %br
          %br
          = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
            = f.input :closing, label: "Preencha o Parecer final do atendimento"
            = f.submit "Enviar", class: "button button--blue2 fancy-link--white"

    .action

      - if @appointment.closing.present?
        %div{style: "text-align: left"}

          %strong Parecer final do fechamento do caso:
          %p{style: "text-align: justify"}=@appointment.reason

        %h2.title.title--thin Comentários e Evoluções do Caso

        %br
        
      - else
        %h2.title.title--thin Comentários e Evoluções do Caso

        %br

        %div{style: "text-align: left"}

          - if is_admin?
            %strong Registrar evolução
          - else
            %strong Fazer um comentário

          %br
          %br

          = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
            = f.simple_fields_for :appointment_comments, @appointment.appointment_comments.new do |g|
              = g.input :name, label: "Nome completo"
              = g.input :comment, label: "Comentário"
              = g.input :user_id, as: :hidden, input_html: { value: current_user.id }

              = g.submit "Enviar", class: "button button--green fancy-link--white"

        %br
        %br

      %div{style: "display: flex; align-items: center; flex-direction: column"}
        - @appointment.appointment_comments.each do |appointment_comment|
          = render 'appointments/comments', comment: appointment_comment
