.animated.fadeIn
  .section
    .section__content
      %h1.title.title--large Atendimento
      .inline
        %h2.title.title--small.title--thin= "Escola: " + @appointment.school.name.capitalize
        %h2.title.title--small.title--thin{style: "margin-left: 30px"}= "Aluno: " + @appointment.appointment_student.name.capitalize

      %h2.title.title--small.title--thin= l(@appointment.appointment_date) + " as " + @appointment.appointment_time

      %h2.title Motivo da solicitação:

      %div{style: "display: flex; flex-direction: column; align-items: center"}
        %div{style: "border: 1px solid grey;border-radius:5px;padding: 15px; width: 80%"}
          %p{style: "text-align: justify"}=@appointment.reason


        %h1.title Descrição do atendimento:
        %div{style: "border: 1px solid grey;border-radius:5px;padding: 15px; width: 80%"}
          %p{style: "text-align: justify"}= @appointment.description.present? ? @appointment.description : 'Ainda não há uma descrição desse atendimento'


      - if is_admin?
        %br

        %button.button.button--blue2.fancy-link--white{onclick: "$('.form').toggle()", "data-turbolinks" => "false"} Editar
        .form{style: "display: none"}
          %br
          %br
          = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
            = f.input :description, label: "Preencha a descrição do atendimento"
            = f.submit "Enviar", class: "button button--blue2 fancy-link--white"

    .action
      %h2.title Comentários
      %div{style: "display: flex; flex-direction: column; align-items: center"}
        - @appointment.appointment_comments.each do |appointment_comment|
          .appointment-card{style: "border-left-color: #{@appointment.school.color}; position: relative"}
            %div{id: "ac_#{appointment_comment.id}_s"}
              %h3.title.title--small= appointment_comment.name.capitalize
              %p= appointment_comment.comment
              %br
              %small{style: "text-transformation: italic; float: right"}= l(appointment_comment.created_at)[0...-9]
            %div{id: "ac_#{appointment_comment.id}_e", style: "display: none"}
              = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
                = f.simple_fields_for :appointment_comments, appointment_comment do |g|
                  = g.input :name, label: "Nome completo"
                  = g.input :comment, label: "Comentário"

                  = g.submit "Enviar", class: "button button--green fancy-link--white"

            - if appointment_comment.user_id == current_user.id
              %a.fancy-link.fancy-link--blue2{style: "position: absolute; right: 0; top: 0; cursor: pointer; margin: 5px", onclick: "$('#ac_#{appointment_comment.id}_s').toggle();$('#ac_#{appointment_comment.id}_e').toggle()"}= icon('fas', 'pen', class: "fancy-link fancy-link--blue2")


      %h3.title.title--small Fazer um comentário

      = simple_form_for(@appointment, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
        = f.simple_fields_for :appointment_comments, @appointment.appointment_comments.new do |g|
          = g.input :name, label: "Nome completo"
          = g.input :comment, label: "Comentário"
          = g.input :user_id, as: :hidden, input_html: { value: current_user.id }

          = g.submit "Enviar", class: "button button--green fancy-link--white"
