.animated.fadeIn
  .section
    .section__content
      %h1.title.title--large= "ATENDIMENTO " + show_appointment_kind(@appointment.kind)

      %div{style: "text-align: left; margin-top: 50px"}
        %h2.subtitle.title--thin{style: "margin-bottom: 0"}= ("<strong>INSTITUIÇÃO:</strong> ").html_safe + @appointment.school.name
        %h2.subtitle.title--thin{style: "margin-top: 0"}= ("<strong>DATA DO ATENDIMENTO:</strong> ").html_safe + l(@appointment.appointment_date) + " às " + @appointment.appointment_time
        %br
        %br
        - if @appointment.reason.present?
          %strong Motivo da solicitação:
          %p{style: "text-align: justify"}= @appointment.reason

        - if @appointment.spontaneous.present?
          %hr
          %strong Atendimento Espontâneo?:
          %p{style: "text-align: justify"}= human_boolean(@appointment.spontaneous)

        %hr

        - if @appointment.appointment_guests.any?
          %strong Convidados/Parentes Atendidos

          - @appointment.appointment_guests.each do |guest|
            = guest.name + ' - ' + guest.description
            %br

        - if @appointment.appointment_students.any?
          - if @appointment.appointment_students.count > 1
            %strong Estudantes Atendidos
          - else
            %strong Estudante Atendido

          %br
          %br

          - @appointment.appointment_students.each do |student|
            = student.name + ' - ' + student.classy + ' ' + student.groupy
            %br

      %h2.title.title--thin Comentários e evoluções do caso

      - @appointment.appointment_evolutions.each do |evolution|
        = render "evolution", evolution: evolution
        - if evolution.status == "finished"
          %hr

      = render "buttons"
