.section.animated.fadeInDown
  .section__content.text-center.display-evenly
    %a{:href => "/"}
      = image_tag('brain.png', class: 'logo-default logo-default--small')

    %h1.title.title--large.title--thin Sobre Nós

    %h2.title.title--thin O Toque Emocional é um sistema de ensino. Somos especialistas em desmotivação escolar e problemas de comportamento. Nossa matéria complementa o currículo dos alunos pelo Brasil a fora. Acreditamos que o ensino da  Inteligência Emocional é parte indispensável no desenvolvimento de indivíduos verdadeiramente livres e felizes.

.section.section--yellow#team
  .section__content.text-center
    %h1.title.title--thin Nosso Time

    .advanced-inline{style: "justify-content: center; align-items: center"}
      .description-card.description-card--1
        .description-card__content
          %p Lillyan Lemos
          %p Psicóloga especialista em desenvolvimento infato-juvenil e da família          

      %br

      .description-card.description-card--2
        .description-card__content
          %p Ellyson Freitas
          %p NeuroCoach especialista em inteligência emocional

.section.section--footer.section--grey#footer
  .section__content
    .advanced-inline
      = image_tag('logo-white.png', class: "logo-footer")

      .section--footer__content-list
        %h3.title.title--small.title--thin SOCIAL

        %ul.fancy-list
          %li= icon('fab', 'facebook', ("#{link_to 'Facebook', 'https://facebook.com/toqueemocional', class: 'fancy-link fancy-link--white'}").html_safe)
          %li= icon('fab', 'instagram', ("#{link_to 'Instagram', 'https://instagram.com/toqueemocional', class: 'fancy-link fancy-link--white'}").html_safe)
          %li= icon('fab', 'youtube', ("#{link_to 'Youtube', 'https://youtube.com/toqueemocional', class: 'fancy-link fancy-link--white'}").html_safe)

      .section--footer__content-list
        %h3.title.title--small.title--thin CONTATO

        %ul.fancy-list
          %li= icon('fab', 'whatsapp', '(81) 9 9384-0734')
          %li= icon('fas', 'envelope', 'falecom@toqueemocional.com.br')
          %li= icon('fas', 'map-marker-alt', 'Av. Agamenon Magalhães, 444, sala 816 - 13º andar. Caruaru - Pernambuco')

    %br
    %br
    .developer-tag
      %small
        Made by
        %a{:href => "https://rannyeribaptist.github.io"} rannyeribaptist.github.io

- content_for :javascript do
  :javascript
    $('.description-card').hover(
      function() { $(this).children().addClass('description-card__content--active animated fadeIn') },
      function() { $(this).children().removeClass('description-card__content--active animated fadeIn') }
    );
