.slide.slide--white.animated.fadeIn.slide--active#1
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain.png', class: 'slide__logo')

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link.yellow{:href => "#"} 1
        %a.next-slide.fancy-link.grey 2
        %a.next-slide.fancy-link.grey 3
        %a.next-slide.fancy-link.grey 4
        %a.next-slide.fancy-link.grey 5
      .text-center
        %h2.title.title--thin.title--small Emoção é o nome que usamos para dizer que nosso corpo está preparado para interagir de uma maneira única com o ambiente. Quando algo perigoso está acontecendo é de suma importância que nosso coração bata mais rápido para nos ajudar a ter mais energia para sobreviver.

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "2", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--white#2
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain.png', class: 'slide__logo')

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link.yellow{:href => "#"} 1
        %a.next-slide.fancy-link.grey 2
        %a.next-slide.fancy-link.grey 3
        %a.next-slide.fancy-link.grey 4
        %a.next-slide.fancy-link.grey 5
      .text-center
        %h2.title.title--thin.title--small Cada emoção tem seu motivo desencadeador. Nos emocionamos muito parecidos um com os outros! Emocionar-se é ter o corpo transformado para agir! Os sentimentos é a conclusão que o nosso processo mental faz do que está acontecendo.

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "3", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--white#3
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain.png', class: 'slide__logo')

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link.yellow{:href => "#"} 1
        %a.next-slide.fancy-link.grey 2
        %a.next-slide.fancy-link.grey 3
        %a.next-slide.fancy-link.grey 4
        %a.next-slide.fancy-link.grey 5
      .text-center
        %h2.title.title--thin.title--small O sentimento é a ‘opinião’ da mente sobre o que está acontecendo. Cada um de nós reage de uma maneira única ao perigo. Por perigo entenda coisas simples como fazer um novo amigo, enfrentar uma prova ou ser sincero com os pais. Uns paralisam sempre, lembrando de todas as vezes que fracassaram, de tal forma que a intenção do corpo em criar aquela energia emocional que tinha como objetivo ajudar acaba por nos atrapalhar.

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "4", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--white#4
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain.png', class: 'slide__logo')

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link.yellow{:href => "#"} 1
        %a.next-slide.fancy-link.grey 2
        %a.next-slide.fancy-link.grey 3
        %a.next-slide.fancy-link.grey 4
        %a.next-slide.fancy-link.grey 5
      .text-center
        %h2.title.title--thin.title--small Pessoas se viciam em sofrer. Por não conseguirem entender suas emoções e seus sentimentos.   Por isso entender cada emoção bem, nos ajudará a dar um passo mais profundo que é conhecer a maneira como ela nos faz sentir o mundo! Isso nos fará ter uma vida mais intensamente livre e feliz!

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "5", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--white#5
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain.png', class: 'slide__logo')

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link.yellow{:href => "#"} 1
        %a.next-slide.fancy-link.grey 2
        %a.next-slide.fancy-link.grey 3
        %a.next-slide.fancy-link.grey 4
        %a.next-slide.fancy-link.grey 5
      .text-center
        %h2.title.title--thin.title--small Conheça 4 emoções básicas que fazem...

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "6", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--yellow#6
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain.png', class: 'slide__logo')
      %h1.title.title--thin ALEGRIA

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link{href: "#", "data-target" => "1", "data-turbolinks" => "false"} 1
        %a.next-slide.fancy-link.white{href: "#"} 2
        %a.next-slide.fancy-link.grey 3
        %a.next-slide.fancy-link.grey 4
        %a.next-slide.fancy-link.grey 5


      %div
        %b Tema: Coerência
        %br
        %h2.title.title--thin.title--small Cada emoção tem sua causa, que podemos chamar de Tema. Comecemos por ela, que mesmo não sendo tão estudada é a mais entendida, simplesmente por sabermos como é bom quando a vida não nos é uma ameaça.
        %h2.title.title--thin.title--small Quando sentimos que estamos onde deveríamos estar e vivendo algo que queríamos que não acabasse. A emoção prepara o nosso corpo para sentir muito e rápido!

      = image_tag('joy.png', class: 'slide__image')

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "7", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--blue#7
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain-white.png', class: 'slide__logo')
      %h1.title.title--thin TRISTEZA

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link{href: "#", "data-target" => "1", "data-turbolinks" => "false"} 1
        %a.next-slide.fancy-link{href: "#", "data-target" => "6", "data-turbolinks" => "false"} 2
        %a.next-slide.fancy-link.yellow{href: "#"} 3
        %a.next-slide.fancy-link.grey 4
        %a.next-slide.fancy-link.grey 5


      %div
        %b Tema: Perda
        %br
        %h2.title.title--thin.title--small Quando perdemos algo que era importante para nós, precisamos aprender toda uma maneira de ser sem o que se foi. O nosso corpo todo reage com uma baixa de energia, com o objetivo principal se recuperar. A tristeza também serve de alerta para nos manter unidos.
        %h2.title.title--thin.title--small Podemos ter inteligência ou não nessa área. Pois a tristeza ao perder alguém da família será de suma importância, mas, a tristeza demais já fala de uma fragilidade que pode ser preocupante.

      = image_tag('sadness.png', class: 'slide__image')

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "8", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--grey#8
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain-white.png', class: 'slide__logo')
      %h1.title.title--thin MEDO

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link.white{href: "#", "data-target" => "1", "data-turbolinks" => "false"} 1
        %a.next-slide.fancy-link.white{href: "#", "data-target" => "6", "data-turbolinks" => "false"} 2
        %a.next-slide.fancy-link.white{href: "#", "data-target" => "7", "data-turbolinks" => "false"} 3
        %a.next-slide.fancy-link.yellow{href: "#"} 4
        %a.next-slide.fancy-link.black 5


      %div
        %b Tema: Ameaça
        %br
        %h2.title.title--thin.title--small Sempre que nos sentimos em perigo o nosso corpo nos prepara ou para fugir ou para paralisar. Tipicamente, quando ameaçados, nosso sangue se concentra nas pernas, nos dando a possibilidade de fugir melhor. Por isso o “gelo nas pernas” e o “frio na barriga”. Importante a emoção medo quando algo de fato é ameaçador, pois assim nos protegerá.
        %h2.title.title--thin.title--small No fundo a raiz desse tipo de comportamento que atrapalha todas as áreas da nossa vida está na insegurança. E não se vence a insegurança de qualquer jeito. É preciso atenção para se criar a coragem necessária para enfrentar os desafios da vida! Vergonha, ansiedade que hoje são os maiores desafios dos Jovens, são modos de medo. O que acontece é que sem inteligência emocional o medo pode por motivos infundados tomar conta da nossa maneira de sentir, e sempre nos fazer olhar o lado pior das coisas, e assim agir sempre negativamente.

      = image_tag('scary.png', class: 'slide__image slide__image--small')

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "9", "data-turbolinks" => "false"} PRÓXIMO

.slide.slide--red#9
  .slide__content
    .slide__group
      %a{:href => "/"}
        = image_tag('brain-black.png', class: 'slide__logo')
      %h1.title.title--thin RAIVA

    .slide__group
      .slide__pages
        %a.next-slide.fancy-link.black{href: "#", "data-target" => "1", "data-turbolinks" => "false"} 1
        %a.next-slide.fancy-link.black{href: "#", "data-target" => "6", "data-turbolinks" => "false"} 2
        %a.next-slide.fancy-link.black{href: "#", "data-target" => "7", "data-turbolinks" => "false"} 3
        %a.next-slide.fancy-link.black{href: "#", "data-target" => "8", "data-turbolinks" => "false"} 4
        %a.next-slide.fancy-link.yellow{href: "#"} 5


      %div
        %b Tema: Interferência
        %br
        %h2.title.title--thin.title--small A raiva é o nome dado ao aumento de energia e mudanças que nosso corpo sofre quando está preparado para destruir o que está nos interrompendo. Precisa-se de muita inteligência emocional para não deixar que esse movimento natural e importante, que é a raiva, possa destruir o que depois causaria arrependimento.
        %h2.title.title--thin.title--small Muitos em um momento de raiva irrefletida acabam por destruir relacionamentos, vivências e até coisas que segundos depois irão se arrepender.

      = image_tag('angry.png', class: 'slide__image slide__image--small')

    .slide__group
      .float-right{style: "margin-top: 10px"}
        %a.fancy-link.title.title--thin.title--small{href: about_page_url} SAIBA QUEM SOMOS
        %br
        %br        	        	

- content_for :javascript do
  :javascript
    $('.next-slide').click(function(){
      let element = $('#' + $(this).attr('data-target'));

      $('.slide--active').removeClass('animated fadeIn slide--active');
      element.addClass('animated fadeIn slide--active');
    })
