-# frozen_string_literal: true
= simple_form_for(@occurrency, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
  %strong= f.error_notification
  %p= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  %h2.subtitle.title--thin Passo 1: Registrar o ocorrido
  %h2.subtitle.title--thin Descreva em detalhes o que aconteceu
  %br

  .action
    - if is_admin?
      = f.input :school_id, as: :select, collection: School.all.drop(1), label: "Escola", input_html: { class: "fancy-form__input fancy-form__select" }
    - else
      = f.input :school_id, as: :hidden, input_html: { value: School.find_by_id(current_user.school.id).id }

    = f.input :description, label: "Tente buscar o ponto de vista de todos os envolvidos", as: :text, required: false

  %br

  %h2.subtitle.title--thin Adicione Todos os envolvidos

  .action{style: "text-align: center"}
    #tasks
      = f.simple_fields_for :occurrency_students do |g|
        = render "occurrency_students_fields", f: g
      .links
        = link_to_add_association 'Adicionar Estudante', f, :occurrency_students, partial: "occurrency_students_fields", class: "button button--green fancy-link fancy-link--white", onclick: "setTimeout(checkInputs, 200);"

  %br
  %br

  = f.submit "Salvar", class: "button button--blue2 fancy-link fancy-link--white"

- content_for :javascript do
  :javascript
    $(window).load(function() {
      fields();
    });

    $('.add_fields').click(function(){
      setTimeout(fields, 200);
    });
