-# frozen_string_literal: true
= simple_form_for(@occurrency, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
  %strong= f.error_notification
  %p= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .slide.slide--white.animated.fadeIn.slide--active#1
    .slide__content
      .slide__group
        = image_tag('brain.png', class: "logo-default logo-default--small", style: "margin: 20px 0")
        %h1.title.title--thin.title--grey Antes de começarmos...

        %h1.title.title--small.title--thin.title--grey É preciso ressaltar algumas coisas para que o ocorrido não torne as coisas mais difíceis de serem resolvidas, ou até mesmo traumatizem algum dos envolvidos

      .float-right{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "2", "data-turbolinks" => "false"} PRÓXIMO

  .slide.slide--white#2
    .slide__content
      .slide__group
        = image_tag('brain.png', class: "logo-default logo-default--small", style: "margin: 20px 0")
        %h1.title.title--thin.title--grey Todo comportamento está ligado à alguma emoção

        %h1.title.title--small.title--thin.title--grey
          Nós podemos classificar essas emoções através de
          %strong Atmosferas Emocionais

      .advanced-inline{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "1", "data-turbolinks" => "false"} VOLTAR
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "3", "data-turbolinks" => "false"} PRÓXIMO

  .slide.slide--white#3
    .slide__content
      .slide__group
        = image_tag('brain.png', class: "logo-default logo-default--small", style: "margin: 20px 0")
        %h1.title.title--thin.title--grey Procure identificar se o comportamento dos envolvidos está ligado à

        .columns{style: "text-align: left; justify-content: center"}
          .column.column--3
            %h2.subtitle.title--thin.title--grey 1- Atmosfera Raivosa
            %p Pergunte se o aluno se sentiu interferido e se sim, pelo quê. No fundo podemos nos sentir responsáveis pelo que nos interfere também. Tente não julgar o aluno pelas suas atitudes e sentimentos.

          .column.column--middle.column--3
            %h2.subtitle.title--thin.title--grey 2- Atmosfera Amedrontada
            %p Pergunte ao aluno se ele se sentiu ameaçado. Se sim, pergunte qual era o perigo que ele acha que o levou a fazer o que ele fez. Tente não julgar o aluno pelas suas atitudes e sentimentos.

          .column.column--3
            %h2.subtitle.title--thin.title--grey 3- Atmosfera do Desprezo
            %p Pergunte ao aluno se ele sentiu que alguém tentou o diminuir ou se ele sentiu-se diminuído. Se sim pergunte se ele não se sente incomodado com o fato de ter se sentido menor. Tente não julgar o aluno pelas suas atitudes e sentimentos.

      .advanced-inline{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "2", "data-turbolinks" => "false"} VOLTAR
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "4", "data-turbolinks" => "false"} PRÓXIMO

  .slide.slide--white#4
    .slide__content
      .slide__group
        = image_tag('brain.png', class: "logo-default logo-default--small", style: "margin: 20px 0")
        %h1.title.title--thin.title--grey Descreva em detalhes o que aconteceu

        = f.input :description, label: "Tente buscar o ponto de vista de todos os envolvidos", as: :text, required: false

      .advanced-inline{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "3", "data-turbolinks" => "false"} VOLTAR
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "5", "data-turbolinks" => "false"} PRÓXIMO

  .slide.slide--white#5
    .slide__content
      .slide__group
        = image_tag('brain.png', class: "logo-default logo-default--small", style: "margin: 20px 0")
        %h1.title.title--thin.title--grey Quais foram os envolvidos?

        %br

        #tasks
          = f.simple_fields_for :occurrency_students do |g|
            = render "occurrency_students_fields", f: g
          .links
            = link_to_add_association 'Adicionar Estudante', f, :occurrency_students, partial: "occurrency_students_fields", class: "button button--green fancy-link fancy-link--white"

        %br

      .advanced-inline{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "4", "data-turbolinks" => "false"} VOLTAR
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "6", "data-turbolinks" => "false"} PRÓXIMO

  .slide.slide--white#6
    .slide__content
      .slide__group
        = image_tag('brain.png', class: "logo-default logo-default--small", style: "margin: 20px 0")
        %h1.title.title--thin.title--grey Seu nome completo:

        = f.input :filled_by, label: false
        = f.input :school_id, as: :hidden, input_html: { value: current_user.school_id }

      .advanced-inline{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "5", "data-turbolinks" => "false"} VOLTAR
        = f.submit "SALVAR", class: "button button--green fancy-link fancy-link--white title title--thin title--small"

- content_for :javascript do
  :javascript
    $('.next-slide').click(function(){
      let element = $('#' + $(this).attr('data-target'));

      $('.slide--active').removeClass('animated fadeIn slide--active');
      element.addClass('animated fadeIn slide--active');
    });

    $(window).load(function() {
      fields();
    });

    $('.add_fields').click(function(){
      setTimeout(fields, 200);
    });    
