-# frozen_string_literal: true
= simple_form_for(@occurrency, defaults: { input_html: { class: "fancy-form__input" } }, html: { class: "fancy-form" }) do |f|
  %strong= f.error_notification
  %p= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .slide.slide--white.slide--active#1
    .slide__content
      .slide__group
        %h1.title.title--thin.title--large Passo 1: Registrar o ocorrido
        %br
        %h2.subtitle.title--thin Descreva em detalhes o que aconteceu
        %br
        %br

        - if is_admin?
          = f.input :school_id, as: :select, collection: School.all.drop(1), label: "Escola", input_html: { class: "fancy-form__input fancy-form__select" }
        - else
          = f.input :school_id, as: :hidden, input_html: { value: School.find_by_id(current_user.school.id).id }

        = f.input :description, label: "Tente buscar o ponto de vista de todos os envolvidos", as: :text, required: false

      .advanced-inline{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.title.title--thin.title--small{href: "#", "data-target" => "2", "data-turbolinks" => "false"} Próximo

  .slide.slide--white#2
    .slide__content
      .slide__group
        %h1.title.title--thin.title--large Passo 1: Registrar o ocorrido
        %br
        %h2.subtitle.title--thin Adicione todos os envolvidos
        %br
        %br

        #tasks
          = f.simple_fields_for :occurrency_students do |g|
            = render "occurrency_students_fields", f: g
          .links
            = link_to_add_association 'Adicionar Estudante', f, :occurrency_students, partial: "occurrency_students_fields", class: "button button--green fancy-link fancy-link--white", onclick: "setTimeout(checkInputs, 200);"

        %br

      .advanced-inline{style: "margin-top: 10px"}
        %h2.next-slide.fancy-link.fancy-link--grey.title.title--thin.title--small{href: "#", "data-target" => "1", "data-turbolinks" => "false"} Voltar
        = f.submit "Passo 2", class: "button button--green fancy-link fancy-link--white", disabled: "disabled", id: "submit"

- content_for :javascript do
  :javascript
    $('.next-slide').click(function(){
      let element = $('#' + $(this).attr('data-target'));

      $('.slide--active').removeClass('animated fadeIn slide--active');
      element.addClass('animated fadeIn slide--active');
    });

    $('.add_fields').click(function(){
      setTimeout(fields, 200);
    });

    $('.set-field').click(function(){
      $('#occurrency_emotional_sphere').attr('value', $(this).attr("data-value"));
    });

    setTimeout(fields, 200);

    function checkInputs() {
      var check = true;

      $('select, textarea, input.input').each(function(){
        if (!$(this).val()) { check = false }
      });

      if (check == true) {
        $('#submit').removeAttr('disabled');
      } else {
        $('#submit').attr('disabled', 'disabled');
      }
    }

    $('select').on('change', function() {
      checkInputs();
    });

    $('textarea').on('change', function() {
      checkInputs();
    });
