.animated.fadeIn
  .section
    .section__content
      = image_tag('brain-black.png', class: 'logo-default logo-default--small')
      %h1{style: "margin: 50px 0"}= @occurrency.emotional_sphere.upcase

      %h2.title.title--small.title--thin{style: "margin: 50px 0"}= @occurrency.description

      .columns.columns--small
        .column.column--small.column--small--5
          %h1.title.title--thin.title--small Estudantes
          - @occurrency.occurrency_students.each do |student|
            %p{style: "display: inline"}= student.name.capitalize + ","
            %p{style: "display: inline"}= student.classy
            %p{style: "display: inline"}= student.groupy
            %br

        .column.column--small.column--small--5
          %h1.title.title--thin.title--small Registrado por
          = @occurrency.filled_by
          %br
          = l(@occurrency.created_at.strftime("%d.%m.%Y").to_date)
