!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Toque Emocional

    %meta{:content => "Motivação e comportamento de alto desempenho escolar é nossa especialidade!", :name => "description"}/
    / Open Graph data
    %meta{:content => "Inteligência Emocional", :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "https://www.toqueemocional.com.br/", :property => "og:url"}/
    %meta{:content => "https://toqueemocional.com.br/logo.png", :property => "og:image"}/
    %meta{:content => "Descubra como aumentar o desempenho escolar dos seus filhos, melhorando a sua Motivação e Comportamento.", :property => "og:description"}/

    = csrf_meta_tags
    = csp_meta_tag

    -# Css animations
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css", :rel => "stylesheet"}/

    -# Montserrat Font
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/

    -# Responsive metatag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    -# Favicon
    %link{:href => "apple-touch-icon-57x57.png", :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}/
    %link{:href => "apple-touch-icon-114x114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "apple-touch-icon-72x72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "apple-touch-icon-144x144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "apple-touch-icon-60x60.png", :rel => "apple-touch-icon-precomposed", :sizes => "60x60"}/
    %link{:href => "apple-touch-icon-120x120.png", :rel => "apple-touch-icon-precomposed", :sizes => "120x120"}/
    %link{:href => "apple-touch-icon-76x76.png", :rel => "apple-touch-icon-precomposed", :sizes => "76x76"}/
    %link{:href => "apple-touch-icon-152x152.png", :rel => "apple-touch-icon-precomposed", :sizes => "152x152"}/
    %link{:href => "favicon-196x196.png", :rel => "icon", :sizes => "196x196", :type => "image/png"}/
    %link{:href => "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "favicon-128.png", :rel => "icon", :sizes => "128x128", :type => "image/png"}/
    %meta{:content => " ", :name => "application-name"}/
    %meta{:content => "#FFFFFF", :name => "msapplication-TileColor"}/
    %meta{:content => "mstile-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "mstile-70x70.png", :name => "msapplication-square70x70logo"}/
    %meta{:content => "mstile-150x150.png", :name => "msapplication-square150x150logo"}/
    %meta{:content => "mstile-310x150.png", :name => "msapplication-wide310x150logo"}/
    %meta{:content => "mstile-310x310.png", :name => "msapplication-square310x310logo"}/

    - if Rails.env.production?
      %meta{:content => "Us78rGNT84G_yqyHWp1z976W3U30iIsR6aVw7cc_sX4", :name => "google-site-verification"}/
  %body
    = yield

    -# %script{:crossorigin => "anonymous", :integrity => "sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=", :src => "https://code.jquery.com/jquery-3.3.1.slim.js"}

    :javascript
      setTimeout(function(){
        $(".flash").removeClass("animated fadeInDown");
        $(".flash").addClass("animated fadeOutUp");
      }, 5000);

    = yield(:javascript)
