!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Toque Emocional - plataforma

    = csrf_meta_tags
    = csp_meta_tag

    -# Css animations
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css", :rel => "stylesheet"}/

    -# Montserrat Font
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/

    -# FullCalendar
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css", :rel => "stylesheet"}/

    -# Responsive metatag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    - if Rails.env.production?
      %meta{:content => "Us78rGNT84G_yqyHWp1z976W3U30iIsR6aVw7cc_sX4", :name => "google-site-verification"}/

    = stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if not current_user.present?
      :javascript
        window.location.replace("http://www.toqueemocional.com.br");
    - else
      .columns
        .column.column--2
          .navbar.navbar--yellow.navbar--vertical
            %a{:href => "/"}
              = image_tag("logo-black.png", class: "logo-dashboard")

            .button.button--transparent.navbar__content-toggle
              %image{src: "https://icongr.am/clarity/bars.svg"}

            .navbar__content
              - if current_user.role == "Admin"
                %a.fancy-link{:href => schools_path}
                  .button.button
                    ESCOLAS
                %a.fancy-link{:href => users_path}
                  .button.button
                    USUÁRIOS
                %a.fancy-link{:href => soon_path}
                  .button.button
                    LIVROS

              %a.fancy-link{:href => soon_path}
                .button.button
                  OCORRÊNCIAS
              %a.fancy-link{:href => appointments_path}
                .button.button
                  ATENDIMENTOS
              %a.fancy-link{:href => students_path}
                .button.button
                  ESTUDANTES

              .navbar__bottom
                %i= show_phrase

        .column.column--8{style: "position: relative"}
          = show_flash_message

          = yield

        .plus
          .plus__content
            - if is_admin?
              = link_to "Frases", phrases_path, class: "fancy-link"
              %br
            = link_to "Sair", destroy_user_session_path, method: :delete, class: "fancy-link"
          .plus__button
            %image{src: "https://icongr.am/clarity/plus.svg"}

      %script{:src => "https://cdn.jsdelivr.net/npm/timepicker@1.11.14/jquery.timepicker.min.js"}
      %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"}
      %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"}

      :javascript
        $(".navbar__content-toggle").click(function() {
          $(".navbar__content").toggle();
        });

        setTimeout(function(){
          $(".flash").removeClass("animated fadeInDown");
          $(".flash").addClass("animated fadeOutUp");
        }, 5000);

        $(".plus").click(function() {
          var element = $(this);

          if (element.hasClass("active")) {
            element.removeClass("active");

            $(".plus__button").removeClass("plus__button--active");
            $(".plus__content").removeClass("plus__content--active fadeInUp");
          } else {
            element.addClass("active");

            $(".plus__button").addClass("plus__button--active");
            $(".plus__content").addClass("plus__content--active   animated fadeInUp");
          }
        });

      = yield(:javascript)
